<ion-view>
    <ion-nav-bar class="bar bar-header bar-assertive">
        <ion-nav-title>
            <h1 class="title">A new Activity</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="list" class="padding">
            <label class="item item-input">
                <input type="text" placeholder="User" ng-model="vm.activity.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Date" ng-model="vm.activity.date" >
            </label>
            <label class="item item-input">
                <textarea placeholder="Reason" ng-model="vm.activity.reason"></textarea>
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="vm.create()"
                ng-disabled="vm.activity.name == '' || vm.activity.date == '' || vm.activity.reason == ''">
            Create
        </button>
    </ion-content>
</ion-view>